/*  
 .img-2 {
     position: relative;
    
     left: 7%;
     width: 40%;
     height: 35rem;
 }

 .img-1 {
    width: 98%;
    height: 10rem;
 }

 .slider-2 {
    position: absolute;
    top: 68%;
    width: 39.5%;
    margin-top: 1rem;
    margin-left: 104px;
 }
 .slider-1 {
    width: 98%;
    top: 11%;
    position: absolute;
 }

 .combine-slider {
     margin-left: 9rem;
 } */